body {
	height: 700px;
}

#sidebar {
  width: 0px;
}

#content {
  width: 770px;
}

.editable input[type=submit] {
  color: #F00;
  font-weight: bold;
}
.editable input[type=button] {
  color: #0F0;
  font-weight: bold;
}

#uploadbuttons {
	position: absolute;
	display: block;
	background-color: white;
	z-index: 20;
	border: 1px solid;
	border-color: #CCCCCC;
	top: 215px;
}


.hidden {
  display:none;
}

.container {
	width: 1000px;
    height: 500px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    border-radius: 7px;
    padding: 0px 10px 10px 10px;

    margin: auto;
}

#studentpic {
  width: 375px;
  height: 250px;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  z-index: 5;
}

#coding_insight {
	font-size: 20px;
	font-weight: bold;
}

#fullname {
	display: block;
	text-align: left;
	padding-left: 10px;
	color: #474747;
}

#left {
	display: block;
	text-align: left;
	position: absolute;
	width: 300px;
	height: 300px;
	left: 20px;
	top: 60px;
	z-index: 10;
}

#right {
	display: block;
	text-align: left;
	position: absolute;
	width: 550px;
	height: 300px;
	right: 35px;
	top: 50px;
	z-index: 10;
}

.skills {
	text-align: right;
}

.bottom {
	top: 367px;
	left:  50px;
	width: 900px;
	position:absolute;
}

.divider {
	position: relative;
	top: 349px;
	display: block;
	/*margin-right: 20px;*/
	width: 980px;
	height: 1px;
	border: 0px;
	background: #CCCCCC;
}

.name {
	z-index: 11;
	width: 900px;
	position: absolute;
}

.nowrap {
	white-space: nowrap;
}

.giticon {
	position: absolute;
	height: 40px;
	display: inline;
	left: 10px;
	top: 10px;
}

.githublink {
	position: absolute;
	display: block;
	top: 245px;
	left: -13px;
}

#github {
	position: absolute;
	display: inline;
	top: 12px;
	left: 55px;
}

ul {
	padding: 0px 15px;
}

.logout {
	position: absolute;
	right: 20px;
	top: 20px;
}

